[package]
name = "oxidized_navigation"
description = "A Nav-Mesh generation plugin for Bevy Engine."
version = "0.6.0"
edition = "2021"

authors = ["TheGrimsey"]
license = "MIT OR Apache-2.0"
readme = "README.md"
homepage = "https://github.com/TheGrimsey/oxidized_navigation"
repository = "https://github.com/TheGrimsey/oxidized_navigation"

keywords = ["gamedev", "navmesh", "navmesh-generation", "bevy"]
categories = ["game-development"]

[features]
debug_draw = []

[[example]]
name = "blocking_async"
required-features = ["debug_draw"]

[[example]]
name = "heightfield"
required-features = ["debug_draw"]

[dependencies]
bevy = { version = "0.11", default-features = false }
bevy_rapier3d = { version = "0.22" }
smallvec = { version = "1.10", features = ["union"] }
[dev-dependencies]
bevy = { version = "0.11", default-features = false, features = [
    "bevy_winit",
    "bevy_render",
    "x11",
    "tonemapping_luts",
    "ktx2",
    "zstd",
] }
futures-lite = "1.12.0"
# bevy_editor_pls = "0.4.0"
