[package]
name = "oxidized_navigation"
description = "A Nav-Mesh generation plugin for Bevy Engine."
version = "0.8.0"
edition = "2021"

authors = ["TheGrimsey"]
license = "MIT OR Apache-2.0"
readme = "README.md"
homepage = "https://github.com/TheGrimsey/oxidized_navigation"
repository = "https://github.com/TheGrimsey/oxidized_navigation"

keywords = ["gamedev", "navmesh", "navmesh-generation", "bevy"]
categories = ["game-development"]

[features]
default = []
rapier = ["bevy_rapier3d"]
xpbd = ["bevy_xpbd_3d"]
debug_draw = ["bevy/bevy_gizmos"]
trace = []

[[example]]
name = "rapier3d"
required-features = ["debug_draw", "rapier"]

[[example]]
name = "rapier3d_heightfield"
required-features = ["debug_draw", "rapier"]

[[example]]
name = "xpbd"
required-features = ["debug_draw", "xpbd"]

[[example]]
name = "parry3d"
required-features = ["debug_draw"]

[[test]]
name = "rapier3d"
required-features = ["rapier"]

[[test]]
name = "xpbd"
required-features = ["xpbd"]

[[test]]
name = "parry3d"

[dependencies]
bevy = { version = "0.12", default-features = false, features = ["multi-threaded"] }

# parry3d doesn't expose the convert-glam feature, so we need to add nalgebra to enable the feature
nalgebra = { version = "0.32", features = ["convert-glam024"] }
parry3d = "0.13"

bevy_rapier3d = { version = "0.23", optional = true, default-features = false, features = ["dim3"] }
bevy_xpbd_3d = { version = "0.3", optional = true, default-features = false, features = ["3d", "f32"]  }

smallvec = { version = "1.11", features = ["union"] }

[dev-dependencies]
bevy = { version = "0.12", default-features = false, features = [
    "bevy_asset",
    "bevy_pbr",
    "bevy_render",
    "bevy_winit",
    "x11",
    "ktx2",
    "tonemapping_luts",
    "zstd",
] }
futures-lite = "1.13"
criterion = { version = "0.5" }

[[bench]]
name = "simple_geometry"
harness = false

[[bench]]
name = "simple_navigation"
harness = false

[package.metadata.docs.rs]
# Compile docs.rs docs with debug_draw so docs for it appear.
features = [ "debug_draw" ]